{% for interface in interfaces %}
{% if 'Loop' in interface["name"] %}
{% include "./ios/_loopback.j2" %}
{% endif %}
{% if 'Vlan1' in interface["name"] %}
{% include "./ios/_vlan1.j2" %}
{% endif %}
{% endfor %}
{% for interface in interfaces %}
{% if 'Loop' not in interface["name"] and 'Vlan1' not in interface["name"] and GigabitEthernet not in interface["name"] %}
{% include "./ios/_physical.j2" %}
{% endif %}
{% endfor %}
